{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Amazon Mechanical Turk {% endblock %}</h1>
    {{ pagination.links }}
    {% for task in tasks %}
        <div id=taskInfo-{{ task[0] }}>
            <div id=title-{{ task[0] }}>
                <p>
                    <a href=#collapse-{{ task[0] }} data-toggle="collapse" role="button" aria-expanded="false" aria-controls=collapse-{{ task[0] }}>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                    {{ task[1] }}
                </p>
            </div>
            <div class="collapse" id=collapse-{{ task[0] }}>
                <div class="card card-body">
                    <p> {{ task[2] }} <p>
                </div>
            </div>
            <!--<a href="#">-->
            <!--    <h2>{{ task['title'] }}</h2>-->
            <!--</a>-->
            <!--<span class="badge badge-primary">{{ task['description'] }}</span>-->
            <hr>
        </div>
    {% endfor %}
{% endblock %}
